.stats {
  display: block;
  container: stats-container / inline-size;

  &__heading {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: flex-start;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 125px);
    gap: 16px;
    justify-content: center;
    margin-top: 48px;
  }
}

.owner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: min(100%, 300px);

  &__img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  &__name {
    font-size: 18px;
    word-break: break-all;
  }
}

.info {
  width: calc(100% - 300px - 24px);

  &__title {
    font-size: 20px;
    word-break: break-all;
  }

  &__description {
    margin-top: 8px;
    word-break: break-all;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
    margin-top: 24px;
    font-size: 14px;
  }
}

.button-group {
  margin-top: 64px;
  text-align: center;

  &__inner {
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    width: min(100%, 250px);
  }
}

@container stats-container (max-width: 600px) {
  .stats {
    &__heading {
      flex-direction: column;
    }

    &__list {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, minmax(0, 125px));
    }
  }

  .owner {
    margin-right: auto;
    margin-left: auto;
  }

  .info {
    width: stretch;
  }
}
