.wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.item {
  width: 32px;
  height: 32px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  font-size: 12px;
  border-radius: 50%;

  &[data-selected] {
    color: #fff;
    pointer-events: none;
    background-color: #2563eb;
  }

  &:not([data-selected]) {
    &:hover {
      background-color: #2563eb1a;
    }
  }

  &:disabled {
    pointer-events: none;

    svg {
      path {
        stroke: #aaa;
      }
    }
  }
}

.prev-button,
.next-button {
  background-repeat: no-repeat;
  background-position: center;
}

.prev-button {
  &:not(:disabled) {
    background-image: url('/icons/arrow_left.svg');
  }

  &:disabled {
    background-image: url('/icons/arrow_left_gray.svg');
  }
}

.next-button {
  &:not(:disabled) {
    background-image: url('/icons/arrow_right.svg');
  }

  &:disabled {
    background-image: url('/icons/arrow_right_gray.svg');
  }
}
